aws_profile        = "default"
aws_region         = "us-east-1"
key_name           = "my-ec2-key"
my_ip              = "203.0.113.10/32"
instance_type      = "t3.micro"
domain             = "mercadin.example.com"
db_password        = "password"
supabase_url       = "https://xxx.supabase.co"
supabase_jwt_secret    = ""
supabase_anon_key      = ""
supabase_service_key   = ""
app_repo_url       = "https://github.com/viniciussm07/mercadin.git"
app_branch         = "main"
